<link
  href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codex/1.3.4/codex.style.min.css"
  rel="stylesheet"
/>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dabfix</title>
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
    <style>
      /* Custom styles here */
      .container {
        margin: 0 auto;
        padding: 20px;
      }
      .btn-action {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Dabfix</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="dropdown" style="margin-left: 10px">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ username }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container screen-edits">
      <h2>Editing {{ page }} on {{ proj }}.wikipedia.org</h2>
      <div id="scene" style="min-width: 1200px; justify-content: center">
        This page has two areas, one displays the text of the article, the other
        displays the disambiguation page source.
        <br />
        Click on a blue link on the disambiguation page to edit the link
        highlighted in red.
        <h3>Wikitext of {{ page }}:</h3>
        <pre class="allwikitext"></pre>
        <button class="cdx-button skip-this-link">Skip this link</button>
        <button class="cdx-button">Go back to last link</button>
        <h3>Disambiguation page</h3>
        <div class="alldisambig"></div>
      </div>
    </div>
    <div class="screen-finish" style="display: none">
      All disambiguation pages fixed for {{ page }}.
      <br />
      Edit summary ?
      <br />
      <div class="cdx-text-input">
        <input
          class="cdx-text-input__input"
          type="text"
          id="edit-summary"
          placeholder="Edit summary"
        />
      </div>
      <br />
      <button class="cdx-button save-edit">Publish changes</button>
    </div>
    <div class="all-done" style="display: none">
      <div class="edit-end-message">
        Looks like this page was already fixed.
      </div>
      <button class="cdx-button try-another-one">Try another one</button>
    </div>
  </body>
  <footer>
    <div class="container">
      <p>
        Build with ❤️ by Sohom and Gopa and Source code available on
        <a href="https://github.com/sohomdatta1/dabfix">GitHub</a>
      </p>
    </div>
  </footer>
  <script>
    window.addEventListener("load", async () => {
      const queryparams = new URL(location.href).searchParams;
      const proj = queryparams.get("proj");
      const article = queryparams.get("pagename");
      const resp = await fetch(`/api/getdabs/${proj}/${article}`);
      const jsondata = await resp.json();
      const articletextresp = await fetch(`/api/getraw/${proj}/${article}`);
      let articletext = await articletextresp.json();
      let edits = [];
      articletext = articletext["text"]["content"];
      for (var i = 0; i < jsondata.length; i++) {
        let disambigRegex =
          "\\[\\[(" + jsondata[i].replaceAll("_", "[ _]") + "[^\\]]*)\\]\\]";
        articletext = articletext.replaceAll(
          new RegExp(disambigRegex, "gi"),
          `<span id="${i}">[[$1]]</span>`
        );
        console.log(disambigRegex);
      }
      document.querySelector(".allwikitext").innerHTML = articletext;
      location.hash = "#0";
      async function showEditor() {
        const index = parseInt(location.hash.slice(1));
        if (index >= jsondata.length) {
          document.querySelector(".screen-edits").style.display = "none";
          if (edits.length === 0) {
            document.querySelector(".all-done").style.display = "block";
            document
              .querySelector(".try-another-one")
              .addEventListener("click", () => {
                location.href = "/generatedab?proj=" + proj;
              });
          } else {
            document.querySelector(".screen-finish").style.display = "block";
            document
              .querySelector(".save-edit")
              .addEventListener("click", async () => {
                const editSummary =
                  document.getElementById("edit-summary").value;
                const editResp = await fetch(`/api/edit/${proj}/${article}`, {
                  method: "POST",
                  body: new URLSearchParams({
                    edits: JSON.stringify(edits),
                    summary: editSummary,
                  }),
                });
                try {
                  const editJson = await editResp.json();
                  document.querySelector(".screen-finish").style.display =
                    "none";
                  document.querySelector(".all-done").style.display = "block";
                  document
                    .querySelector(".try-another-one")
                    .addEventListener("click", () => {
                      location.href = "/generatedab?proj=" + proj;
                    });
                  console.log(editJson["edit"]["result"]);
                  if (!(editJson["edit"]["result"] === "Success")) {
                    document.querySelector(
                      ".edit-end-message"
                    ).innerHTML = `Edit could not by made :( Please try again.`;
                  } else {
                    document.querySelector(
                      ".edit-end-message"
                    ).innerHTML = `Edit successfully made, <a href="https://${proj}.wikipedia.org/wiki/Special:Diff/${editJson["edit"]["newrevid"]}">view your edit here.</a>`;
                  }
                } catch (e) {
                  document.querySelector(
                    ".edit-end-message"
                  ).innerHTML = `Edit could not by made :( Please try again.`;
                }
              });
          }
        } else {
          const elem = document.getElementById(`${index}`);
          if (!elem) {
            location.hash = `#${index + 1}`;
          }
          const elemPos = document.getElementById(`${index}`).scrollIntoView({
            behavior: "smooth",
            block: "center",
            inline: "center",
          });
          document.getElementById(`${index}`).classList.add("disambig-in-red");
          if (index > 0 && document.getElementById(`${index - 1}`)) {
            document
              .getElementById(`${index - 1}`)
              .classList.remove("disambig-in-red");
          }
          const parsedResp = await fetch(
            `/api/getparsed/${proj}/${jsondata[index]}`
          );
          const parsedRespdata = await parsedResp.json();
          document.querySelector(".alldisambig").innerHTML =
            parsedRespdata["text"];
          document.querySelectorAll(".alldisambig a").forEach((elem) => {
            elem.dataset.href = elem.href.split("/wiki/")[1];
            elem.href = "javascript:void(0)";
          });
          document.querySelectorAll(".alldisambig li > a").forEach((elem) => {
            elem.addEventListener("dblclick", (e) => {
              window.open(
                `https://${proj}.wikipedia.org/wiki/${e.target.dataset.href}`
              );
            });
            elem.addEventListener("click", (e) => {
              e.preventDefault();
              const newlinktarget = e.target.dataset.href;
              edits[index] = newlinktarget;
              console.log(index, newlinktarget);
              location.hash = `${index + 1}`;
            });
          });
          document
            .querySelector(".skip-this-link")
            .addEventListener("click", () => {
              location.hash = `${index + 1}`;
            });
        }
      }
      window.addEventListener("hashchange", async () => {
        showEditor();
      });
      showEditor();
    });
  </script>
  <style>
    .allwikitext {
      height: 20vh;
      overflow: scroll;
    }
    .disambig-in-red {
      color: red;
      font-weight: bold;
    }
    .alldisambig a {
      color: grey;
    }
    .alldisambig li a {
      color: blue;
    }
    .alldisambig li a.new {
      color: red;
    }
  </style>
</html>
