<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codex/1.3.4/codex.min.js"></script>
<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codex/1.3.4/codex.style.min.css" rel="stylesheet">
<body>
    <div class="container-1">
        <h2>Which project do you want to edit {{ username }} ?</h2>
        <select class="cdx-select language-select">
            <!-- Use <option> and <optgroup> elements as needed. -->
            <option value="test">test</option>
            <option value="en">en</option>
            <option value="bn">bn</option>
            <option value="te">te</option>
            <option value="simple">simple</option>
        </select>
        <button class="first-screen-action cdx-button cdx-button--action-progressive cdx-button--weight-primary">Continue</button>
    </div>
    <div class="container-2" style="display: none;">
        <h2>Would you like to fix a random page or do you have a specific page in mind ?</h2>
        <button class="second-screen-specific-page cdx-button">I have a specific page in mind</button>
        <button class="second-screen-lucky cdx-button">I'm feeling lucky!</button>
    </div>
    <div class="container-3" style="display: none;">
        <h2>Which page will it be ?</h2>
        <div class="cdx-text-input">
            <!-- Input element with CSS class and attributes. -->
            <input
              class="cdx-text-input__input"
              type="text"
              placeholder="Type a article name"
            />
        </div>
        <br>
        <button class="third-screen-action cdx-button">Lets go!</button>
    </div>
</body>
<script>
    window.addEventListener( 'load', () => {
        const s1 = document.querySelector( '.container-1' );
        const s2 = document.querySelector( '.container-2' );
        const s3 = document.querySelector( '.container-3' );
        let project = 'test';
        let article = 'Queen';
        s1.style.display = 'block';
        document.querySelector( '.language-select' ).addEventListener( 'select', () => {
            project = document.querySelector( '.language-select' ).value;
        } );
        document.querySelector( '.first-screen-action' ).addEventListener( 'click', () => {
            s1.style.display = 'none';
            s2.style.display = 'block';
        } );
        document.querySelector( '.second-screen-lucky' ).addEventListener( 'click', () => {
            location.href = '/generatedab?proj=' + project;
        } );
        document.querySelector( '.second-screen-specific-page' ).addEventListener( 'click', () => {
            s2.style.display = 'none';
            s3.style.display = 'block';
        } );
        document.querySelector( '.third-screen-action' ).addEventListener( 'click', () => {
            location.href = `/edit?proj=${project}&pagename=${ article }`
        } );
    } )
</script>